@media (max-width: 768px)
    .container
        margin: 0 32px
    .first-screen
        padding: 64px 0
        height: auto
        .columns
            flex-wrap: wrap
    .get-started
        width: 100%
        align-items: center
        text-align: center
    .media
        width: 100%
    .media-container
        height: 400px
    .cities-slider
        .columns
            flex-wrap: wrap
    .cities-slider-description
        width: 100%
        align-items: center
        text-align: center
    .cities-slider-content
        width: 100%
    .cities-slider-description-text
        margin-bottom: 32px
    .page-title
        margin-top: 64px
        margin-bottom: 48px
    .floating-images
        gap: 24px
    .cities-cards-description
        margin-bottom: 48px
    .cities-cards-masonry
        gap: 24px
        grid-template-columns: repeat(3, 1fr)
    .about
        grid-template-columns: 1fr
        gap: 32px
    .about-title-wrapper
        text-align: center
        align-items: center
    .about-title-image
        display: none
    .about-social
        display: none
    .about-description .columns
        gap: 48px
    .dish
        margin-top: 64px
        .columns
            flex-wrap: wrap
            gap: 96px
    .dish-info
        align-items: center
        width: 100%
    .dish-preview
        width: 100%
    .back-to-all-cities-link
        align-self: start
    .dish-preview-image
        max-width: 400px
        max-height: 300px
    .dish-preview-circle
        width: 300px
        height: 300px
        &:nth-child(1)
            transform: translateY(-20%)
        &:nth-child(2)
            transform: translateY(-10%)
    .dish-preview-articles
        gap: 0
    .recipe
        margin-top: 128px
    .recipe-columns
        gap: 48px
        grid-template-columns: 1fr
    .instructions
        order: 2
    .additional-information
        order: 1

@media (max-width: 576px)
    .container
        margin: 0 16px
    .header-social-links
        display: none
    .header-logo
        font-size: 18px
    .header-links
        gap: 24px
    section
        padding: 48px 0
        &.first-screen
            padding: 48px 0
    .get-started-title
        max-width: 100%
        line-height: 48px
        font-size: 40px
        .subtitle
            font-size: 28px
    .first-screen
        .columns
            align-items: flex-start
            gap: 48px
    .get-started-description
        margin-bottom: 24px
    .media-container
        margin-bottom: 24px
        height: auto
    .cities-slider-title
        font-size: 20px
    .cities-slider-subtitle
        font-size: 14px
    .cities-slider-pagination
        margin-top: 24px
    .cities-slider-pagination-bullet
        width: 20px
    .cities-slider
        .columns
            gap: 48px
    .icon-stats-items
        gap: 24px
        flex-wrap: wrap
    .icon-stats-item
        width: 100%
        display: grid
        grid-template-columns: repeat(2, 1fr)
    .icon-stats-icon
        justify-self: end
        width: 48px
        height: 48px
        svg
            width: 24px
            height: 24px
    .icon-stats-number
        font-size: 20px
        line-height: 20px
    .icon-stats-title
        font-size: 14px
    .ukraine-map-description
        margin-bottom: 48px
    .ukraine-map-title
        font-size: 20px
    .ukraine-map-subtitle
        font-size: 14px
        text-align: center
    .modal
        width: 95%
        padding: 16px
    .modal-image
        margin-bottom: 24px
    .modal-title
        font-size: 20px
    .footer-social-links
        margin-bottom: 24px
    .copyright
        font-size: 14px
    footer
        padding-top: 48px
    .page-title
        margin-top: 48px
        font-size: 28px
        margin-bottom: 24px
    .floating-image
        &:nth-child(3)
            display: none
        &:nth-child(4)
            display: none
    .floating-images
        grid-template-columns: repeat(2, 1fr)
        gap: 16px
    .cities-cards-description
        text-align: center
        margin-bottom: 24px
    .cities-cards-title
        font-size: 20px
    .cities-cards-subtitle
        font-size: 14px
    .cities-cards-masonry
        gap: 16px
        grid-template-columns: repeat(2, 1fr)
    .cities-card-name
        font-size: 16px
    .cities-card-description
        padding: 0 0 16px 12px
    .about-title
        font-size: 28px
    .about-subtitle
        font-size: 20px
        margin-top: 0
    .about
        gap: 24px
    .about-description .columns
        flex-wrap: wrap
        gap: 24px
    .about-description-text-wrapper
        width: 100%
    .about-author-wrapper
        width: 100%
    .about-author
        margin-top: 24px
    .dish
        margin-top: 48px
    .dish-info-subtitle
        font-size: 28px
    .dish-info-title
        font-size: 40px
        margin-bottom: 16px
    .dish-info
        text-align: center
    .dish-preview-articles
        display: none
    .dish-preview-image
        max-width: 100%
    .recipe
        margin-top: 96px
    .recipe-title
        font-size: 20px
        margin-bottom: 4px
    .ingredients-list
        gap: 4px
    .additional-information
        gap: 24px
    .instructions-list
        gap: 4px